.cocktailInfo {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5vh;
}

.cocktailImg {
    max-width: 34vw;
    height: auto;
    margin: 0 4.2vw 0 10vw;
}

.cocktailRecipe {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10vw;
}

.cocktailName {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 3vh;
}

.cocktailInfo h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2vh;
}

.cocktailInfo p,
.cocktailInfo ul {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.025rem;
}

.cocktailIngredients {
    margin-right: 5vw;
    margin-bottom: 40px;
}

.cocktailGlass {
    margin-right: 5vw;
    margin-bottom: 40px;
}

.cocktailInstructions {
    width: 40vw;
    margin-bottom: 40px;
}

.p {
    margin: 0 10vw;
}

.button {
    display: block;
    width: 80vw;
    background-color: #FFF;
    color: #FA8E5F;
    height: 70px;
    color: #FA8E5F;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    margin-right: 2vw;
    text-align: center;
    margin: 100px 10vw 80px 10vw
}

@media only screen and (max-width: 768px) {
    .cocktailInfo {
        flex-wrap: wrap;
    }
    .cocktailImg {
        max-width: 100%;
        height: auto;
        margin: 0 5vw 0 5vw;
    }
    .cocktailRecipe {
        margin: 40px 5vw 0 5vw;
    }
    .cocktailGlass {
        width: 100%;
    }
    .cocktailInstructions {
        width: 100%
    }
    .button {
        width: 90vw;
        margin: 100px 5vw 80px 5vw;
        font-size: 1.5rem;
    }
}