.formDiv {
    margin: 0 10vw 80px 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
}

.field {
    display: flex;
    background: #FFF;
    color: #4F4F4F;
    width: 50vw;
    height: 70px;
    color: var(#4F4F4F);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-right: 2vw;
}

.field::placeholder {
    color: #BDBDBD;
}

.submit {
    display: block;
    background-color: #FFF;
    color: #FA8E5F;
    height: 70px;
    color: #FA8E5F;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    padding: 0 3vw;
    margin-right: 2vw;
}

.button {
    display: block;
    width: 70px;
    height: 70px;
}

.button img {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 768px) {
    .formDiv {
        margin: 0 0 50px 0;
        justify-content: space-evenly;
        width: 100%
    }
    .field {
        margin-bottom: 20px;
        margin: 0 5vw 20px 5vw;
        width: 100%;
    }
    .submit {
        margin-bottom: 20px;
    }
}