.form {
    margin: 0 auto 10vh 10vw;
}

.field {
    background: #FFF;
    color: #4F4F4F;
    width: 51.5vw;
    height: 7.8vh;
    margin-right: 1.6vw;
    color: var(#4F4F4F);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.field::placeholder {
    color: #BDBDBD;
}

.submit {
    background-color: #FFF;
    color: #FA8E5F;
    width: 26.8vw;
    height: 7.8vh;
    color: #FA8E5F;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
}